$primary-color:     hsl(125, 40%, 94%);     // green #eaf6eb
$secondary-color:   hsl(28, 100%, 50%);     // orange #ff7700
$dark-green:        hsl(124, 39%, 80%);     // green #b8e0bb
$light-green:       hsl(122, 61%, 89%);     // green #d2f4d3
$dark-text:         hsl(125, 39%, 40%);     // green #3e8e4
$white:             hsl(0, 0%, 100%);       //white