$primary-color:     hsl(125, 39%, 94%);     // green
$secondary-color:   hsl(28, 100%, 50%);     // orange
$dark-green:        hsl(125, 39%, 80%);     // green
$dark-text:         hsl(125, 39%, 40%);     // green
$white:             hsl(0, 0%, 100%);       //white