/*
*
* poppins font map
*
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$poppins: (
  'light': 400,
  'normal': 500,
  'bold': 700
);

@each $key, $val in $poppins {
  .poppins-#{$key} {
    font-weight: $val;
  }
}

/*
*
* justify-content map
*
*/

$justify-content: (
  'justify-center': center,
  'space-between': space-between,
  'space-evenly': space-evenly,
  'space-around': space-around
);


@each $key, $val in $justify-content {
  .#{$key} {
    justify-content: $val;
  }
}

.d-flex {
  display: flex;
}

.i-block {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.obj-fit {
  object-fit: fill;
}

.t-center {
  text-align: center;
}

.a-center {
  align-items: center;
}

// menu

$position: (
  "fixed": fixed,
  "stycky": sticky,
  "absolute": absolute,
  "relative": relative,
);

@each $key, $val in $position {
  .#{$key} {
    position: $val;
  }
}

.overflow__auto {
  overflow: auto;
}

.text-right {
  text-align: right;
}