@import './__color';

.logo {
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    width: 80px;
  }

  h1.title {
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      width: 100px;
      height: 5px;
      background: $secondary-color;
      position: absolute;
      top: 45px;
    }
  }
}

ul.recipes {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  margin-top: 2rem;
}

.card__recipe {
  cursor: pointer;
  background: $primary-color;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(78, 57, 105, 0.21);
  flex-basis: 200px;
  flex-grow: 1;
  list-style: none;
  overflow: hidden;
  object-fit: fill;

  figcaption.description {
    font-size: .85rem;
    line-height: 1.2rem;
    margin-block: .9rem;
    padding-inline: .4rem 0;
  }

  figure.card__img {
    overflow: hidden;
    width: 100%;
  }
}

// hover card
.recipes:hover .card__recipe {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.recipes:hover .card__recipe:not(:hover) {
  //opacity: 0.4;
  transform: scale(0.96);
  transition: all 0.3s ease;
}

.card__recipe:hover img {
  transform: scale(1.4);
  transition: all 0.3s ease;
}