.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.card {
    flex-grow: 1;
    flex-basis: 200px;
    list-style: none;
    background: #606060ff;
    border-radius: 10px;
    overflow: hidden;
    object-fit: fill;
}