@import './__color';

footer {
    background: $light-green;
    border-radius: .8rem;
    padding: 2rem;

    .footer__logo .social {
        display: flex;
        // gap: 10px;
        justify-content: space-evenly;

        img {
            width: 1.5em;
            margin-top: 1em;

            &:hover {
                cursor: pointer;
            }
        }
        img[title="Youtube"] {
            width: 2em;
        }
    }
}

.social:hover img:not(:hover) {
    filter: grayscale(.85);
}

.container__footer {
    display: flex;
    gap: 5em;
    justify-content: space-around;
}

.footer__menu {
    display: flex;
    gap: 6rem;

    li {
        text-transform: capitalize;
    }

    li:not(:first-child) {
        cursor: pointer;
    }

    :where(.products, .about__us, .resources) li:first-child {
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .container__footer, .footer__menu {
        gap: 2em;
    }
}