@import './__color';

footer {
    background: $light-green;
    border-radius: .8rem;
    padding: 2rem;

    .footer__logo .social {
        display: flex;
        gap: 10px;
        justify-content: center;

        img {
            width: 2em;
            margin-top: 1em;

            &:hover {
                cursor: pointer;
            }
        }
        img[title="Youtube"] {
            width: 2.6em;
        }
    }
}

.social:hover img:not(:hover) {
    filter: grayscale(1);
}

.container__footer {
    display: flex;
    gap: 5em;
    justify-content: space-around;
}

.footer__container {
    display: flex;
    gap: 6rem;

    li {
        text-transform: capitalize;
    }

    :where(.products, .about__us, .resources) li:first-child {
        font-weight: bold;
    }
}