@use 'color' as c;

footer {
    background: c.$light-green;
    border-radius: .8rem;
    padding: 2rem;

    .footer__logo img {
        display: block;
        margin: 0 auto;
    }

    .footer__logo .social {

        img {
            width: 1.5em;
            margin-top: 1em;

            &:hover {
                cursor: pointer;
            }
        }
        img[title="Youtube"] {
            width: 2em;
        }
    }
}

.social:hover img:not(:hover) {
    filter: grayscale(.85);
}

.container__footer {
    gap: 5em;
}

.footer__menu {
    gap: 6rem;

    li {
        text-transform: capitalize;
    }

    li:not(:first-child) {
        cursor: pointer;
    }

    :where(.products, .about__us, .resources) li:first-child {
        font-weight: bold;
    }
}

@media only screen and (max-width: 768px) {
    .container__footer, .footer__menu {
        gap: 2em;
    }
}

@media screen and (max-width: 760px) {

    footer {
        padding: 1rem;
    }

    .container__footer {
        flex-direction: column;
        .footer__logo svg {
            width: 100px;
        }
    }

    footer .footer__logo .social {
        justify-content: flex-start;
        gap: 20px;
    }
}

@media screen and (max-width: 425px) {
    .footer__menu {
        flex-direction: column;

        .about__us {
            border-top: 1px solid c.$secondary-color;
            border-bottom: 1px solid c.$secondary-color;
            padding: 1rem;
        }
    }
}