@import './_color'; 

.container__bg {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    color: $dark-text;

    .header__text {
        font-size: 2.3rem;
        width: 550px;

        p.title__text {
            font-weight: 500;
        }
    }

    span {
        text-transform: capitalize;
    }

    .mission__text {
        margin-top: 20px;
        font-size: 1.25rem;
        font-style: italic;
    }

    img {
        width: 30%;
        height: auto;
        object-fit: scale-down;
    }
}