@use 'color' as c;

.container__bg {
    margin-top: 3rem;
    color: c.$dark-text;

    .header__text {
        font-size: 2.3rem;
        width: 550px;

        p.title__text {
            font-weight: 500;
        }
    }

    span {
        text-transform: capitalize;
    }

    .mission__text {
        font-style: italic;
    }

    .photo {
        text-align: -webkit-right;
    }

    img {
        width: 50%;
        height: auto;
        object-fit: scale-down;
    }
}

@media only screen and (max-width: 768px) {
    .container__bg .header__text {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .container__bg {
        flex-direction: column;
        gap: 50px;

        .photo {
            text-align: -webkit-center;
        }

        img {
            width: 90%;
        }
    }
}