.container__bg {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;

    .header__text {
        font-size: 2.3rem;
        width: 550px;
    }

    span {
        text-transform: capitalize;
    }

    .mission__text {
        margin-top: 30px;
        font-size: 1.25rem;
        font-style: italic;
    }

    img {
        width: 30%;
        height: auto;
        object-fit: scale-down;
    }
}