@import './_color';

.container__nav {
    position: sticky;
    top: 0.3rem;
    z-index: 1;
}

.navbar {
    align-items: center;
    background: $light-green;
    border-radius: .8rem;
    display: flex;
    gap: 10em;
    padding: 1rem;
}

.prefer__food {
    display: inline-block;
    background-color: $secondary-color;
    color: white;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.input {
    border-color: $secondary-color;
    border-bottom-width: .1rem;
    margin-inline-end: 1rem;
}