$primary-color:     hsl(125, 39%, 94%);     // green
$secondary-color:   hsl(28, 100%, 50%);     // orange

.navbar {
    background: $primary-color;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .8rem;
}

.prefer__food {
    display: inline-block;
    background-color: $secondary-color;
    color: white;
    padding: .5em;
    border-radius: .5em;
    cursor: pointer;
}

.input {
    border-color: $secondary-color;
    border-bottom-width: .1rem;
    margin-inline-end: 1rem;
}