@use 'color' as c;

.recipe-details {

    > figure > img {
        box-shadow: 0 6px 12px rgba(78, 57, 105, 0.21);
    }
}

.ingredients {
    
    li::marker {
        content: "• ";
        font-size: 1.2em;
    }
}

section {
    .description {
        align-items: center;
        display: flex;
        gap: 8px;
        svg {
            width: 22px;
            fill: c.$secondary-color;
        }
    }
}