@import './__color';

.container__top-food {

  .top__food {
    width: 90%;
    margin: 3rem auto;
    background: $light-green;
    border-radius: 1.5rem;
    padding: 2rem;

    .text__top_food {
      display: flex;

      p {
        border-left: 2px solid $dark-text;
        padding-left: 10px;

        span {
          font-size: 1.55rem;
        }
      }
    }

    ul.recipes {
      display: flex;

      li.card__recipe {
        max-width: 250px;
      }

    }
  }
}

@media only screen and (max-width: 768px) {
  .container__top-food .top__food ul.recipes {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-top: 2rem 32px;
  }
}