@use 'color' as c;

.container__top-food {
  .top__food {
    width: 90%;
    margin: 3rem auto;
    background: c.$light-green;
    border-radius: 1.5rem;
    padding: 2rem;

    .top__food-text {
      p {
        border-left: 2px solid c.$dark-text;
        margin-left: 10px;
        padding-left: 10px;

        span {
          display: block;
        }
      }
    }

    ul.recipes {
      li.card__recipe {
        max-width: 250px;
      }
    }
  }
  .recipe__search {
    h2 {
      display: inline-block;
      margin-right: 10px;
    }
    span::before {
      content: "—";
      padding-right: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container__top-food .top__food ul.recipes {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-top: 2rem 32px;
  }
}